body {
  font-family: sans-serif;
  margin: 0;
}

#banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* Header Section */
#header {
  width: 100%;
  margin-top: 49px;
  display: inline-block;
}

#logo {
  width: 180px;
  margin-left: 94px;
  float: left;
}

#menu {
  float: right;
  margin-top: 10px;
}

.menu-item {
  color: #ffffff;
  font-size: 20px;
  float: left;
  margin-right: 72px;
  text-decoration: none;
}

.menu-item:hover {
  opacity: 0.7;
}

/* title banner */
#title-banner {
  color: #ffffff;
  margin-top: 200px;
  text-align: center;
}

#title-text {
  font-size: 106px;
  margin-bottom: 0;
}

#tagline {
  font-size: 36px;
  line-height: 1.6;
}

/* Card section */
#card-content {
  margin-left: 100px;
  margin-top: 80px;
  width: 50%;
}

.card-title {
  color: #475ee0;
  font-size: 36px;
  line-height: 1.4;
  margin: 0;
  margin-right: 45%;
}

.card-decription {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  margin-right: 32%;
  margin-top: 16px;
}

/* Card Item */
.card-item-container {
  margin-top: 72px;
}

.card-item {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-right: 48px;
  padding: 60px 48px;
}

/* Form Section */
.container {
  padding: 100px;
}

#form {
  margin-top: 50px;
}

#form .input-text,
#form .input-checkbox {
  margin-bottom: 30px;
}

#form .title {
  font-size: 30px;
  margin-bottom: 20px;
}

#form .input-text {
  padding: 10px 15px;
  font-size: 20px;
  width: 30%;
  border: 1px solid #888;
  border-radius: 8px;
}

#form .input-checkbox-text {
  font-size: 20px;
  color: #555;
}

#form button {
  padding: 10px 30px;
  background: #475ee0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#footer {
  padding: 25px;
  text-align: center;
  color: white;
  background: #4d4d4d;
  font-size: 20px;
}

/* text style */
.text-blue {
  color: #475ee0;
}
